

body {
    background-image: url("../images/background.png");
    background-size: cover; /* used to cover the screen */
    background-attachment: fixed; /* background does not scroll with rest of the page */
}

.main_container {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    display: flex;
    align-items: center;

    min-width: 50%; /* setting a min-width for the main_container */
    min-height: 60%; /* setting a min-height for the main_container */
    background-color: white;
    opacity: 90%;
    padding: 10px; /* making a small distance between main_container and left and right sub containers */
    border-radius: 10px; /* creating a curved like borders */
    
}

.legend {
    color: #cb8b00;
    font-weight: 500;
    font-size: 30px;
}

.profile_container {
    width: 60%; /* making left and right containers 50% of the parent size */
    margin: 10px;
}

.profile_detail_container {
    display: inline-block; /* making the two profile_details_container beside each other */
    width: 210px;
}

/*
setting padding and radious of fieldset
*/
.fieldset {
    padding: 10px;
    border-radius: 10px;
}

/*
we want to make error_data invisible by default
crating a distance from top and and making the error message in the middle
*/
.error_data {
    display: none;
    margin-top: 20px;
    margin-left: 35%;
    margin-right: 35%;
}

/*
setting width, height, color and radious of submit_button
*/
.submit_button {
    width: 190px;
    height: 30px;
    text-align: center;
    background-color: #cb8b00;
    border-color: #cb8b00;
    color: white;
    border-radius: 5px;
}

/*
setting width, height and radious of input
*/
.userId_input {
    width: 180px;
    height: 30px;
    border-radius: 5px;
}